<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="com.mt.mt166demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mt.mt166demo.BaseFragment"/>
        <activity android:name="com.mt.mt166demo.TypeABFragment"/>
        <activity android:name="com.mt.mt166demo.Mf1Fragment"/>
        <activity android:name="com.mt.mt166demo.ULFragment"/>
    </application>
</manifest>
